<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
        <title>Beer</title>
    </head>

    <body>
        <div class="container">
            <h1>Kaapin täytöstä ilmoitettu slackiin.</h1>
        </div>
    </body>

    <script>
        function redirect(){
           window.location.href = "/fridge";
        }
        setTimeout(redirect, 5000); //2000 is equivalent to 2 seconds
    </script>
</html>
