<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static "Style.css" %}" type="text/css" />
        <title>Floor selection</title>
    </head>

    <body>
        <div class="container">
            <div class="center">
                <h1>Floor selection</h1>
                <a href="/fridges/"><p>All Fridges</p></a>
                <!--goes over the data which it receives from django view-->
                {% for ctx in data %}
                <div id="items-wrapper" class="box2">
                    <div class="media-left">
                        <div class="container">
                            <a href="/fridges/?floor={{ctx}}"><h2>Floor: {{ctx}}</h2></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
