<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"/>
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css"/>
        <link rel="stylesheet" href="{% static "style.css" %}" type="text/css" >
        <title>Fridges</title>
    </head>

    <body>
        <div class="container">
            <div class="center">
                <a href="/fridges/"><p>Back to all Fridges</p></a>
                <a href="/"><p>Back to Floor selection</p></a>
                <!--goes over the data which it receives from django view-->
                {% for ctx in data %}
                <div id="items-wrapper" class="box">
                    <div class="media-left">
                        <div class="container">

                            <p hidden>ID: {{ctx.id}}</p>
                            <a href="/fridges/?id={{ctx.id}}"><h1>{{ctx.name}}</h1></a>
                            <a href="/fridges/?floor={{ctx.floor}}"><h4>Floor: {{ctx.floor}}</h4></a>

                            <!--hidden form for POST request to send correct data to endpoint for changing fridge state-->
                            <form action="/api/change_state/" id="post_form" method="post">
                                <input type="hidden" name="id" id="id" value="{{ctx.id}}">
                                <input type="hidden" name="name" id="name" value="{{ctx.name}}">
                                <input type="hidden" name="state" id="state" value="{{ctx.state}}">
                                <input type="hidden" name="floor" id="floor" value="{{ctx.floor}}">
                                <input type="hidden" name="channel" id="channel" value="{{ctx.channel}}">
                            <!--Assigns ctx.state to curr_state to display the next state the fridge will be changed to-->
                                {%  with curr_state=ctx.state %}
                                    {%  if curr_state == "Empty" %}
                                        <img src="{% static "bottle-empty.png" %}"/>
                                        <br>
                                        <input type="submit" class="button_1" value="Change state to Full">
                                    {% elif curr_state == "Full" %}
                                        <img src="{% static "bottle-full.png" %}"/>
                                        <br>
                                        <input type="submit" class="button_1" value="Change state to Half-full">
                                    {% else %}
                                        <img src="{% static "bottle-half.png" %}"/>
                                        <br>
                                        <input type="submit" class="button_1" value="Change state to Empty">
                                    {% endif %}
                                {% endwith %}
                            </form>
                            <a href="/fridges/?state={{ctx.state}}"><h4>State: {{ctx.state}}</h4></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
