<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <title>Fridge manager</title>
</head>
<!--Django displays this page from views-->
<!--Searches for div which has the id equal to "app"-->
<!-- Found in Components -> App.js -->

<body>
   <h1>hello</h1>
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="submit" value="Submit">
</body>

</html>