<html>
    <body>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <title>Fridge manager</title>
</head>
    </body>
    <div class="container">
        <h1>Toiminto suoritettu.</h1>
    </div>
    <script>
        function redirect(){
           window.location.href = "/fridge";
        }
        setTimeout(redirect, 5000); //2000 is equivalent to 2 seconds
    </script>
</html>
